# 16MHz clock
LOCATE COMP "clk" SITE "A7";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

# raspi pins
LOCATE COMP "gp6"  SITE "T6";
LOCATE COMP "gp12" SITE "R5";
LOCATE COMP "gp13" SITE "T4";
LOCATE COMP "gp14" SITE "T15";
LOCATE COMP "gp15" SITE "T14";
LOCATE COMP "gp16" SITE "R4";
LOCATE COMP "ce1"  SITE "T13";

# board pins
LOCATE COMP "button1"    SITE "R2";
LOCATE COMP "button2"    SITE "T2";
LOCATE COMP "led1"       SITE "R3";
LOCATE COMP "led2"       SITE "T3";

# spi
LOCATE COMP "spi_clk"     SITE "N9";
LOCATE COMP "spi_sdio[3]" SITE "N7";
LOCATE COMP "spi_sdio[2]" SITE "M7";
LOCATE COMP "spi_sdio[0]" SITE "T7";
LOCATE COMP "spi_sdio[1]" SITE "T8";
LOCATE COMP "spi_cs"      SITE "N8";

# prog
LOCATE COMP "cdone"       SITE "P9";

# jtag
LOCATE COMP "jtag_tck"   SITE "T10";
LOCATE COMP "jtag_tdi"   SITE "R11";
LOCATE COMP "jtag_tdo"   SITE "M10";
LOCATE COMP "jtag_tms"   SITE "T11";

# pmod1
LOCATE COMP "pmod1[0]" SITE "A8";
LOCATE COMP "pmod1[1]" SITE "A10";
LOCATE COMP "pmod1[2]" SITE "A12";
LOCATE COMP "pmod1[3]" SITE "A14";
LOCATE COMP "pmod1[4]" SITE "A9";
LOCATE COMP "pmod1[5]" SITE "A11";
LOCATE COMP "pmod1[6]" SITE "A13";
LOCATE COMP "pmod1[7]" SITE "A15";

IOBUF PORT "pmod1[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod1[7]" IO_TYPE=LVCMOS33;

# pmod2
LOCATE COMP "pmod2[0]" SITE "A2";
LOCATE COMP "pmod2[1]" SITE "B4";
LOCATE COMP "pmod2[2]" SITE "B5";
LOCATE COMP "pmod2[3]" SITE "B6";
LOCATE COMP "pmod2[4]" SITE "A3";
LOCATE COMP "pmod2[5]" SITE "A4";
LOCATE COMP "pmod2[6]" SITE "A5";
LOCATE COMP "pmod2[7]" SITE "A6";

IOBUF PORT "pmod2[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod2[7]" IO_TYPE=LVCMOS33;

# pmod3
LOCATE COMP "pmod3[0]" SITE "R1";
LOCATE COMP "pmod3[1]" SITE "N1";
LOCATE COMP "pmod3[2]" SITE "L2";
LOCATE COMP "pmod3[3]" SITE "K1";
LOCATE COMP "pmod3[4]" SITE "P1";
LOCATE COMP "pmod3[5]" SITE "M1";
LOCATE COMP "pmod3[6]" SITE "L1";
LOCATE COMP "pmod3[7]" SITE "J1";

IOBUF PORT "pmod3[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod3[7]" IO_TYPE=LVCMOS33;

# pmod4
LOCATE COMP "pmod4[0]" SITE "G1";
LOCATE COMP "pmod4[1]" SITE "E1";
LOCATE COMP "pmod4[2]" SITE "D1";
LOCATE COMP "pmod4[3]" SITE "C2";
LOCATE COMP "pmod4[4]" SITE "F1";
LOCATE COMP "pmod4[5]" SITE "E2";
LOCATE COMP "pmod4[6]" SITE "C1";
LOCATE COMP "pmod4[7]" SITE "B1";

IOBUF PORT "pmod4[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod4[7]" IO_TYPE=LVCMOS33;

# pmod5
LOCATE COMP "pmod5[0]" SITE "B16";
LOCATE COMP "pmod5[1]" SITE "C16";
LOCATE COMP "pmod5[2]" SITE "E16";
LOCATE COMP "pmod5[3]" SITE "F16";
LOCATE COMP "pmod5[4]" SITE "C15";
LOCATE COMP "pmod5[5]" SITE "D16";
LOCATE COMP "pmod5[6]" SITE "E15";
LOCATE COMP "pmod5[7]" SITE "G16";

IOBUF PORT "pmod5[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod5[7]" IO_TYPE=LVCMOS33;

# pmod6
LOCATE COMP "pmod6[0]" SITE "J16";
LOCATE COMP "pmod6[1]" SITE "L16";
LOCATE COMP "pmod6[2]" SITE "M16";
LOCATE COMP "pmod6[3]" SITE "P16";
LOCATE COMP "pmod6[4]" SITE "K16";
LOCATE COMP "pmod6[5]" SITE "L15";
LOCATE COMP "pmod6[6]" SITE "N16";
LOCATE COMP "pmod6[7]" SITE "R16";

IOBUF PORT "pmod6[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "pmod6[7]" IO_TYPE=LVCMOS33;
